application-router {
    min-height: 0; /* to prevent flex container overflow */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

application-router[layout="center"] {
    justify-content: center;
    align-items: center;
}

application-router[layout="center"] nav-site {
    position: fixed;
    top: calc(var(--size) / 2);
    left: 0;
}
