/* box sizing */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* base */
html,
body {
    min-height: 100%;
    display: flex;
    flex-grow: 1;
}

html {
    font-size: 17px;
    line-height: 1.6;
}
@media (min-width: 60rem) {
    html {
	font-size: 20px;
    }
}

body {
    margin: 0;
}

a {
    border: 0.2rem solid transparent;
}

a:focus {
    outline-color: transparent;
    text-decoration: none;
    border-color: var(--color-theme);
}

button {
    background-color: transparent;
    border: 0.2rem solid var(--color-text);
}

button:focus {
    outline-color: transparent;
    border-color: var(--color-theme);
}
