nav-site {
    position: sticky;
    z-index: 1;
    display: flex;
    align-self: flex-start;
    top: calc(var(--size) / 2);
    left: var(--size);
}

nav-account {
    position: fixed;
    z-index: 1;
    display: flex;
    align-self: flex-start;
    top: calc(var(--size) / 2);
    left: var(--size);
}

nav-site a,
nav-account a {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color-link-bg);
    padding: calc(var(--size) / 4) calc(var(--size) / 2);

    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--color-text);

    transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out, color 300ms ease-in-out;
}

nav-site a:hover,
nav-account a:hover{
    color: var(--color-link-hover);
    background-color: var(--color-link-bg-hover);
}

nav-site a::before,
nav-account a::before {
    color: var(--color-bg-dark);
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    transition: transform 200ms ease-in-out;
    padding-right: 0.7rem;
}

nav-site a:hover::before,
nav-account a:hover::before {
    transform: translate3d(-10%, 0, 0);
}

nav-site a:before {
    content: '+';
    transform: translateY(3%);
}
nav-account a:before {
    content: '←';
    transform: translateY(-4%);
}
