/* multiple notes (list of cards?) */
rs-notes-header {
    display: flex;
    width: 100%;
    padding-left: calc(var(--size) / 2);
    padding-right: calc(var(--size) / 2);
    color: var(--color-text-light);
}
rs-notes {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: var(--size);
    background-color: transparent;
    transition: background-color 500ms ease-in-out;
    flex-grow: 1;

}
rs-notes[loading] {
    background-color: var(--color-bg-light);
    
    animation-name: loadingBackground;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-duration: 2500ms;
    animation-direction: alternate;
}

rs-notes[notes="0"] {
    align-items: center;
    justify-content: center;
}

rs-notes[notes="0"] article {
    text-align: center;
}
rs-notes[notes="0"] a {
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-text);
    background-color: transparent;
    transition: color 500ms ease-in-out 400ms, background-color 800ms ease-in-out 400ms;
}
rs-notes[notes="0"] a:hover {
    color: var(--color-theme);
    background-color: var(--color-bg-light);
}

rs-notes:empty {
    content: '';
    position: relative;
}
rs-notes:empty::before {
    content: 'Hint: Press ESC to refresh notes (or go back to them).';
    font-size: 0.8rem;
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* one note card (in lists) */
rs-note-card {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(var(--size) /2 );
    margin-left: calc(var(--size) /2 );
    margin-right: calc(var(--size) /2 );
    transition: opacity 700ms ease-in-out, max-height 600ms ease-in-out, margin-bottom 300ms ease-in;
    opacity: 1;
    max-height: 100%;
}
rs-note-card a {
    padding: calc(var(--size) / 4) calc(var(--size) / 2);
    color: var(--color-text);
    text-decoration: none;

    transition: transform 500ms ease-in-out, background-color 150ms ease-in;
}
rs-note-card,
rs-note-card a {
    width: 100%;
}

rs-note-card a {
    background-color: var(--color-item);
}
rs-note-card a:hover {
    background-color: var(--color-item-hover);
}

rs-note-card[deleted] {
    opacity: 0;
    z-index: -1;
    max-height: 0px;
    margin-bottom: 0;
}

rs-note-card[deleted] a {
    transform: translate3d(-30%, 0.5rem, -10rem);
    background-color: var(--color-bg);
}

/* one note (when editing) */
rs-note {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

rs-note header {
    display: flex;
    align-items: center;
}

rs-note a {
    padding: calc(var(--size) / 3);
    margin: calc(var(--size) / 4);
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--color-text);
}
rs-note a:hover {
    background-color: var(--color-theme);
    color: var(--color-bg);
}

rs-note textarea {
    border: 0.2rem solid transparent;
    flex-grow: 1;
    resize: none;
    font-size: 1rem;
    padding: calc(var(--size) / 2);
}
rs-note textarea:focus {
    outline-color: transparent;
    border-color: var(--color-theme);
}

/* actions */
rs-note-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.9rem;
}

rs-note-actions code {
    color: var(--color-text-light);
    margin-right: calc(var(--size) / 3);
}

rs-note-actions button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    padding: calc(var(--size) / 3);
    color: var(--color-text-light);
    margin-right: calc(var(--size) / 3);
}
rs-note-actions button:hover {
    background-color: var(--color-bg-light);
}
