/* status visibility and link */
rs-widget-status {
    position: fixed;
    z-index: 1;
    top: calc(var(--size) / 2 + calc(var(--size) / 6));
    right: var(--size);
}

rs-widget-status a {
    font-size: 1.3rem;
    color: var(--color-text);
    text-decoration: none;
    padding: calc(var(--size) / 6) calc(var(--size) / 1.5);
    background-color: var(--color-bg-light);
    border: calc(var(--size) / 10) solid transparent;
    display: inline-block;
    transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out, color 300ms ease-in-out;
}

rs-widget-status a:hover {
    color: var(--color-bg);
    background-color: var(--color-theme);
    border: calc(var(--size) / 10) solid var(--color-bg-dark);
}

rs-widget-status[connected] a {
    /* border-color: var(--color-theme); */
    color: var(--color-theme);
    border-color: var(--color-bg-dark);
    font-weight: bold;
}

rs-widget-status[connected] a:hover {
    background-color: var(--color-bg-dark);
}

rs-widget-status[connected] a:focus {
    background-color: var(--color-theme);
    color: var(--color-bg);
}

/* overwrittes of existing widget */
rs-widget .rs-widget {
    font-size: 1rem;
    max-width: 25rem;
    padding: calc(var(--size) / 2);
    box-shadow: none;
}
.rs-widget.rs-state-choose,
.rs-widget.rs-state-sign-in {
    position: static;
}
.rs-widget .rs-box.rs-selected {
    max-height: 100%;
}
.rs-widget .rs-box[aria-hidden="true"] {
    display: none;
}

.rs-widget.rs-state-choose svg {
    display: none;
}
.rs-widget .rs-box-connected {
    height: auto;
}

.rs-widget .rs-short-desc {
    margin-bottom: var(--size);
}
.rs-widget a.rs-help {
    color: var(--color-text);
}

.rs-widget .rs-button {
    border-width: 0.2rem;
    text-align: center;
    text-transform: lowercase;
}

.rs-widget .rs-button-small {
    padding-bottom: 0rem;
}

.rs-widget .rs-sign-in-form button.rs-connect {
    background-color: var(--color-theme);
}
