:root {
    --color-text: black;
    --color-text-light: darkgray;
    --color-bg: white;
    --color-bg-light: whitesmoke;
    --color-bg-dark: lightgray;
    --color-theme: blue;

    --color-item: var(--color-bg-light);
    --color-item-hover: var(--color-bg-dark);

    --color-link-hover: var(--color-bg);
    --color-link-bg: var(--color-bg-light);
    --color-link-bg-hover: var(--color-theme);

    --size: 2rem;
}
